<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typy użytkownika {{ selectedUser }}</title>

    {% include 'betservice/head.html' %}
</head>
{% include 'betservice/header.html' %}
<div class="container">

    <h3>Typy użytkownika {{ selectedUser }}</h3>
	<hr/>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Przeciwnicy</th>
								<th>Wynik</th>
								<th>Kurs</th>
								<th>Stawka</th>
								<th>Data spotkania</th>
							</tr>
						</thead>
						<tbody>
							{% for bet in bets %}
							<tr>
								<td>{{ bet.team1 }} vs {{ bet.team2 }}</td>
								<td>{{ bet.score1 }} : {{ bet.score2 }}</td>
								<td>{{ bet.ratio }}</td>
								<td>{{ bet.rate }}</td>
								<td>{{ bet.date }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
</div>
{% include 'betservice/footer.html' %}
</body>
</html>