<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktualności</title>

    {% include 'betservice/head.html' %}
</head>
{% include 'betservice/header.html' %}
<div class="container">
    <h1>Aktualności</h1>

    <div class="row">
        {% for singleNews in news %}
        <div class="col-md-12">
            <h2><a href="/news/{{ singleNews.url }}">{{ singleNews.title }}</a></h2>
            <p>{{ singleNews.publish_date }}</p>
            <p>{{ singleNews.description|linebreaksbr }}</p>
            <span>więcej ...</span>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'betservice/footer.html' %}
</body>
</html>